#title {
    margin-top: 15vh;
    width: 100%;
    text-align: center;
}

#form {
    margin-top: 15vh;
    padding: 20px;
    border-radius: 10px;
}

nav button {
    max-width: 30px;
}

#prevButton {
    margin-right: 10px;
}

.fade-out {
    animation: fadeOut ease .2s;
    -webkit-animation: fadeOut ease .2s;
    -moz-animation: fadeOut ease .2s;
    -o-animation: fadeOut ease .2s;
    -ms-animation: fadeOut ease .2s;
}

@keyframes fadeOut {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}

@-o-keyframes fadeOut {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }   
}

@-ms-keyframes fadeOut {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}

.fade-in {
    animation: fadeIn ease .2s;
    -webkit-animation: fadeIn ease .2s;
    -moz-animation: fadeIn ease .2s;
    -o-animation: fadeIn ease .2s;
    -ms-animation: fadeIn ease .2s;
}

@keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

.shake {
    animation: shake 0.7s cubic-bezier(.36,.07,.19,.97) both;
    transform: translateX(0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
        transform: translateX(-1px);
    }

    20%, 80% {
        transform: translateX(2px);
    }

    30%, 50%, 70% {
        transform: translateX(-4px);
    }

    40%, 60% {
        transform: translateX(4px);
    }
}